<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://OHSWEBINT</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>OHSWEBINT</MSDeployServiceURL>
    <DeployIisAppPath>CMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>OHSWEBINT\CBWebDeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbMysqlLocalhost" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=localhost;database=portal;uid=root;password=a8sZcqtu;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbMysqlLocalhost_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=localhost;database=portal;uid=root;password=a8sZcqtu;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dbSqlLocalhost" Order="2" Enabled="False">
          <Destination Path="Data Source=OHSVRSQL14TEST.TDG.INT;Initial Catalog=CMS_Portal;User ID=A7AE8260DEE0;Password=1A74BB6C16ED" Name="Data Source=OHSVRSQL14TEST.TDG.INT;Initial Catalog=CMS_Portal;User Id=A7AE8260DEE0;Password=1A74BB6C16ED;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=OHSVRSQL14TEST.TDG.INT;Initial Catalog=CMS_Portal;User ID=A7AE8260DEE0;Password=1A74BB6C16ED" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbSqlLocalhost_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=OHSVRSQL14TEST.TDG.INT;Initial Catalog=CMS_Portal;User Id=A7AE8260DEE0;Password=1A74BB6C16ED;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbMysqlLocalhost-Web.config Connection String" />
    <MSDeployParameterValue Include="dbSqlLocalhost-Web.config Connection String">
      <ParameterValue>Data Source=OHSVRSQL14TEST.TDG.INT;Initial Catalog=CMS_Portal;User Id=A7AE8260DEE0;Password=1A74BB6C16ED;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>